 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>What you say?</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>We're a small SaaS CRM company looking to add a few awesome .net and Angular developers to our team.  Company is 100% remote and 97% awesome (3% deducted till we get a pet monkey).</p>
                </div>
                <div class="col-lg-4">
                    <p>You're either a) chuckling to yourself and should apply to be on our team, or b) unamused and should stop reading and revert to watching your cat hack up hairballs or whatever you were doing before.</p>
                </div>
            </div>
        </div>
    </section>
